---
layout: default
---

<main>
    <ul class="post-list">
        {% for post in site.posts %}
        <li class="post-item">
            <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</main>

<footer>
    <a href="https://linkedin.com/in/jamie-d-arcy-a23177277/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    <a href="mailto:jamiedarcy06+githubpages@gmail.com" target="_blank" rel="noopener noreferrer">Email</a>
</footer>